/* Copyright 2014-2015 Eucalyptus Systems, Inc. */
/*-----------------------------------------
   Colors
  ----------------------------------------- */
/*-----------------------------------------
   Item list
  ----------------------------------------- */
/*-----------------------------------------
   Magic Search bar
  ----------------------------------------- */
/* line 31, ../src/magic_search.scss */
.search-bar {
  position: relative;
  border: 1px solid #6a737b;
  background-color: white;
  margin-bottom: 0.5rem;
  padding: 4px;
  height: auto;
}
/* line 38, ../src/magic_search.scss */
.search-bar i.fi-filter {
  color: #6a737b;
  position: absolute;
  top: 0.35rem;
  left: 0.65rem;
}
/* line 44, ../src/magic_search.scss */
.search-bar .search-main-area {
  position: relative;
  margin-left: 1.65rem;
  margin-right: 1.65rem;
  cursor: text;
}
/* line 15, ../src/magic_search.scss */
.search-bar .item-list {
  margin-bottom: 6px;
}
/* line 17, ../src/magic_search.scss */
.search-bar .item-list .item {
  color: #333;
  background-color: #e6e7e8;
  margin-right: 8px;
}
/* line 21, ../src/magic_search.scss */
.search-bar .item-list .item a {
  color: white;
}
/* line 51, ../src/magic_search.scss */
.search-bar .item-list {
  margin-bottom: 2px;
}
/* line 54, ../src/magic_search.scss */
.search-bar .search-selected {
  background-color: white;
  color: #444;
}
/* line 58, ../src/magic_search.scss */
.search-bar .search-entry {
  display: inline-block;
  height: 1.5rem;
}
/* line 62, ../src/magic_search.scss */
.search-bar .search-input {
  width: 280px;
  border: 0;
  box-shadow: none;
  height: 1.5rem;
  padding: 3px;
  background-color: white;
}
/* line 69, ../src/magic_search.scss */
.search-bar .search-input:focus {
  box-shadow: none;
}
/* line 73, ../src/magic_search.scss */
.search-bar .match {
  font-weight: bold;
}
/* line 76, ../src/magic_search.scss */
.search-bar i.cancel {
  color: #6a737b;
  position: absolute;
  top: 0.5rem;
  right: 0.65rem;
}
/* line 78, ../src/magic_search.scss */
.search-bar i.cancel:hover {
  color: darkred;
}
