/* Copyright 2014-2015 Eucalyptus Systems, Inc. */

/*-----------------------------------------
   Colors
  ----------------------------------------- */
$bordercolor: #ccc;
$iconcolor: #6a737b;
$textcolor: #444;
$background: white;
$itembackground: #e6e7e8;

/*-----------------------------------------
   Item list
  ----------------------------------------- */
@mixin item-list {
    .item-list {
        position: relative;
        //top: -0.30rem;
        .item {
            color: #333;
            background-color: $itembackground;
            height: 1.3rem;
            margin-right: 0.5rem;
            a {
                color: white;
            }
        }
    }
}

@-moz-document url-prefix() {
    .item-list {
        .item {
            top: -0.40rem;
        }
    }
    .search-selected {
        top: -0.40rem;
    }
}

/*-----------------------------------------
   Magic Search bar
  ----------------------------------------- */
.search-bar {
    position: relative;
    border: 1px solid $bordercolor;
    background-color: $background;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    height: auto;
    i.fi-filter {
        color: $iconcolor;
        position: absolute;
        top: 0.35rem;
        left: 0.65rem;
    }
    .search-main-area {
        position: relative;
        margin-left: 1.65rem;
        margin-right: 1.65rem;
        cursor: text;
    }
    @include item-list;
    //.item-list {
    //    margin-bottom: 0.125rem;
    //}
    .search-selected {
        position: relative;
        padding-left: 0;
        padding-right: 0;
        background-color: $background;
        color: $textcolor;
    }
    .search-entry {
        position: relative;
        display: inline-block;
        height: 1.5rem;
        height: 1.5rem;
    }
    .search-input {
        width: 17.5rem;
        border: 0;
        box-shadow: none;
        height: 1.5rem;
        padding: 0.25rem;
        margin-bottom: 0;
        background-color: $background;
        &:focus {
            box-shadow: none;
            background-color: $background;
        }
    }
    .match {
        font-weight: bold;
    }
    i.cancel {
        color: $iconcolor;
        &:hover {
            color: darkred;
        }
        position: absolute;
        top: 0.35rem;
        right: 0.65rem;
    }
    .f-dropdown.open {
        left: 0 !important;
    }
}
